*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    /*background-color: #1A1A1A;*/

}

body{
    max-width: 1920px;
    background-color: #141414;
}

.container{
    max-width: 1920px;
}














































