@media screen and (min-width: 768px) and (max-width: 991px) {
    .read-more-button{
        width: fit-content;
        padding: 14px 20px;
        border-radius: 8px;
        gap: 4px;
    }
    .read-more-button > p{
        font-size: 14px;
    }
    .read-more-button > div{
        width: 14px;
        height: 14px;
    }
    .title-h2-content{
        padding: 80px 0;
        gap: 30px;
    }
    .title-h2-content > div > div > p{
        font-size: 16px;
    }
    .title-h2-content > div > h2{
        font-size: 44px;
    }

    .container{
        /*max-width: 1280px;*/
        width: 85%;
    }

    #header-top{
        /*display: flex;*/
        /*justify-content: ;*/
        /*align-items: center;*/
        /*gap: 0;*/
        flex: 1;
        padding: 12px 24px;
    }
    #header-top a:first-child{
        font-size: 14px;
    }
    #header-top a:last-child{
        width: 14px;
        height: 14px;
    }
    .header__content{
        padding: 20px 0;
    }
    .header__content--brand{
        gap: 10px
    }
    .brand--logo{
        width: 40px;
        height: 40px;
    }
    .brand--name{
        width: 90px;
        height: 14px;
    }
    .header__content--menu ul li a{
        font-size: 14px;
        padding: 10px 18px;
        border-radius: 6px;
    }
    .header__content--menu ul li{
        border-radius: 6px;
    }
    .header__content--action a{
        font-size: 14px;
        padding: 10px 14px;
        border-radius: 6px;
    }

    /*Title*/
    .main__title{
        padding: 80px 0 100px 0;
        gap: 20px;
    }
    .main__title h1{
        font-size: 55px;
    }
    .main__title--des{
        gap: 60px;
    }
    .main__title--des > p:first-child{
        font-size: 55px;
    }
    .main__title--des > p:last-child{
        font-size: 16px;
    }

    /*Featured-grid*/
    .featured__article__top{
        padding: 60px 0;
        gap: 40px;
    }
    .top--item--img{
        width: 515px;
        height: 325px;
    }
    .top--item--des > p:first-child{
        font-size: 24px;
    }
    .top--item--des > p:nth-child(2){
        font-size: 18px;
        margin: 14px 0 40px 0;
    }
    .meta-data{
        margin-bottom: 40px;
    }
    .meta-data > div{
        margin-right: 30px;
    }
    .meta-data > div > p:first-child{
        font-size: 16px;
    }
    .meta-data > div > p:last-child{
        font-size: 16px;
    }
    .like-and-share > div{
        padding: 4px 8px;
        gap: 2px;
        margin-right: 4px;
    }
    .like-and-share > div:first-child > div{
        width: 15px;
        height: 13px;
    }
    .like-and-share > div:nth-child(2) > div{
        width: 14px;
        height: 14px;
    }
    .like-and-share > div > p{
        font-size: 14px;
    }
    .top--item--des > div:last-child > a{
        border-radius: 8px;
        padding: 14px 20px;
        font-size: 14px;
        text-decoration: none;
    }


    /*Featured-article*/
    .featured__article__bottom{
        padding: 60px 0;
        /*flex-direction: column;*/
    }
    .bottom--item--img{
        /*width: 358px;*/
        height: 185px;
        border-radius: 10px;
    }
    .featured__article__bottom--item > p:nth-child(2){
        font-size: 16px;
        margin: 16px 0 4px 0;
    }
    .featured__article__bottom--item > p:nth-child(3){
        font-size: 16px;
    }
    .bottom--item--des{
        margin-top: 16px;
    }
    .bottom--item--des > a{
        padding: 8px 12px;
        border-radius: 8px;
        gap: 2px;
    }
    .bottom--item--des > a > p{
        font-size: 14px;
    }
    .bottom--item--des > a > div{
        width: 14px;
        height: 14px;
    }

    /*discover*/
    .discover__top--content{
        padding: 80px 0;
    }
    .discover__top--content > div{
        gap: 10px;
    }
    .discover__top--content > div > div{
        padding: 4px 8px;
    }
    .discover__top--content > div > div > p{
        font-size: 16px;
    }
    .discover__top--content > div > h2{
        font-size: 44px;
    }
    .discover__menu--content{
        padding: 40px 0;
        gap: 14px;
    }
    .discover__menu--content > button{
        width: 202px;
        border-radius: 7px;
        padding: 24px 20px;
        font-size: 14px;
    }
    .discover__bottom--item{
        padding: 60px 0;
        gap: 40px;
    }
    .discover__bottom--item--info{
        gap: 10px;
    }
    .info--img{
        width: 60px;
        height: 60px;
    }
    .info--des{
        gap: 0;
    }
    .info--des > p:first-child{
        font-size: 18px;
    }
    .info--des > p:last-child{
        font-size: 16px;
    }
    .discover__bottom--item--des{
        width: 935px;
        gap: 40px;
    }
    .discover__bottom--item--des > div:first-child{
        max-width: 720px;
    }
    .discover__bottom--item--des > div > p:nth-of-type(1){
        font-size: 18px;
    }
    .discover__bottom--item--des > div > p:nth-of-type(2){
        margin: 24px 0 6px 0;
        font-size: 22px;
    }
    .discover__bottom--item--des > div > p:nth-of-type(3){
        margin-bottom: 24px;
        font-size: 16px;
    }
    .discover-like-and-share > div{
        padding: 6px 12px;
        gap: 2px;
        margin-right: 8px;
    }
    .discover-like-and-share > div:first-child > div{
        width: 16px;
        height: 15px;
    }
    .discover-like-and-share > div > div{
        margin-right: 4px;
    }
    .discover-like-and-share > div:nth-child(2) > div{
        width: 14px;
        height: 14px;
    }
    .discover-like-and-share > div:nth-child(3) > div{
        width: 14px;
        height: 14px;
    }
    .discover-like-and-share > div > p{
        font-size: 14px;
    }

    /*Visual*/
    .visual__content--card > div:nth-of-type(1){
        padding: 60px 50px 60px 0;
    }
    .visual__content--card > div:nth-of-type(2){
        padding: 60px 0 60px 50px;
    }
    .visual__content--item--img{
        border-radius: 10px;
        height: 331px;
        padding: 30px;
        gap: 10px;
    }
    .visual__content--item--img > button{
        left: 30px;
        bottom: 30px;
        width: 50px;
        height: 50px;
    }
    .play-icon{
        width: 18px;
        height: 17px;
    }
    .visual__content--item--img > p{
        right: 30px;
        bottom: 30px;
        font-size: 14px;
    }
    .visual__content--item > p:nth-of-type(1){
        font-size: 20px;
        margin: 20px 0 6px 0;
    }
    .visual__content--item > p:nth-of-type(2){
        font-size: 16px;
    }

    /*Be-part*/
    .be__part{
        padding: 0 0 80px 0;
    }
    .be__part--title{
        gap: 60px;
        padding: 80px 0 50px 0;
    }
    .be__part--title--img{
        width: 120px;
        height: 120px;
    }
    .be__part--title--content > div:first-of-type{
        padding: 4px 8px;
    }
    .be__part--title--content > div:first-of-type > p{
        font-size: 16px;
    }
    .be__part--title--content > h2{
        font-size: 44px;
        margin: 10px 0 20px 0;
    }
    .be__part--title--content > p{
        font-size: 16px;
    }
    .be__part--content{
        padding: 10px;
        border-radius: 10px;
        gap: 10px;
    }
    .be__part--content--item{
        border-radius: 10px;
        padding: 30px;
        gap: 16px;
    }
    .be__part--content--item--title > p{
        font-size: 18px;
    }
    .be__part--content--item--title > a{
        width: 44px;
        height: 44px;
        padding: 12px;
    }
    .be__part--content--item--title > a > div{
        width: 14px;
        height: 14px;
    }
    .be__part--content--item > p{
        font-size: 16px;
    }
}