@media screen and (max-width: 1440px) {
    .container{
        max-width: 1280px;
    }
    #header-top{
        /*display: flex;*/
        /*justify-content: ;*/
        /*align-items: center;*/
        /*gap: 0;*/
        flex: 1;
        padding: 12px 24px;
    }
    #header-top a:first-child{
        font-size: 14px;
    }
    #header-top a:last-child{
        width: 14px;
        height: 14px;
    }
    .header__content{
        padding: 20px 0;
    }
    .header__content--brand{
        gap: 10px
    }
    .brand--logo{
        width: 40px;
        height: 40px;
    }
    .brand--name{
        width: 90px;
        height: 14px;
    }
    .header__content--menu ul li a{
        font-size: 14px;
        padding: 10px 18px;
        border-radius: 6px;
    }
    .header__content--menu ul li{
        border-radius: 6px;
    }
    .header__content--action a{
        font-size: 14px;
        padding: 10px 14px;
        border-radius: 6px;
    }

    /*Title*/
    .main__title{
        padding: 80px 0 100px 0;
        gap: 20px;
    }
    .main__title h1{
        font-size: 55px;
    }
    .main__title--des{
        gap: 60px;
    }
    .main__title--des > p:first-child{
        font-size: 55px;
    }
    .main__title--des > p:last-child{
        font-size: 16px;
    }

    /*Featured-grid*/
    .featured__article__top{
        padding: 60px 0;
        gap: 40px;
    }
    .top--item--img{
        width: 515px;
        height: 325px;
    }
    .top--item--des > p:first-child{
        font-size: 24px;
    }
    .top--item--des > p:nth-child(2){
        font-size: 18px;
        margin: 14px 0 40px 0;
    }
    .meta-data{
        margin-bottom: 40px;
    }
    .meta-data > div{
        margin-right: 30px;
    }
    .meta-data > div > p:first-child{
        font-size: 16px;
    }
    .meta-data > div > p:last-child{
        font-size: 16px;
    }
    .like-and-share > div{
        padding: 6px 14px;
        gap: 4px;
        margin-right: 8px;
    }
    .like-and-share > div:first-child > div{
        width: 15px;
        height: 13px;
    }
    .like-and-share > div:nth-child(2) > div{
        width: 14px;
        height: 14px;
    }
    .like-and-share > div > p{
        font-size: 14px;
    }
    .top--item--des > div:last-child > a{
        border-radius: 8px;
        padding: 14px 20px;
        font-size: 14px;
        text-decoration: none;
    }


    /*Featured-article*/
    .featured__article__bottom{
        padding: 60px 0;
        /*flex-direction: column;*/
    }
    .bottom--item--img{
        /*width: 358px;*/
        height: 185px;
        border-radius: 10px;
    }
    .featured__article__bottom--item > p:nth-child(2){
        font-size: 16px;
        margin: 16px 0 4px 0;
    }
    .featured__article__bottom--item > p:nth-child(3){
        font-size: 16px;
    }
    .bottom--item--des{
        margin-top: 16px;
    }
    .bottom--item--des > a{
        padding: 14px 20px;
        border-radius: 8px;
        gap: 4px;
    }
    .bottom--item--des > a > p{
        font-size: 14px;
    }
    .bottom--item--des > a > div{
        width: 14px;
        height: 14px;
    }
}