.main__title{
    margin:130px auto 150px auto;
    max-width: 1596px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main__title h1{
    color: white;
    font-size: 80px;
    font-weight: 500;
    line-height: 130%;
    font-family: 'Kumbh sans', sans-serif;
}
.main__title--des{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.main__title--des > p:first-child{
    color: white;
    font-size: 80px;
    font-weight: 500;
    line-height: 130%;
    font-family: 'Kumbh sans', sans-serif;
}
.main__title--des > p:last-child{
    color: #98989A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}