.main__title{
    /*margin:130px auto 150px auto;*/
    /*max-width: 1596px;*/
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main__title h1{
    color: white;
    font-size: 80px;
    font-weight: 500;
    line-height: 130%;
    font-family: 'Kumbh sans', sans-serif;
}
.main__title--des{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.main__title--des > p:first-child{
    color: white;
    font-size: 80px;
    font-weight: 500;
    line-height: 130%;
    font-family: 'Kumbh sans', sans-serif;
}
.main__title--des > p:last-child{
    color: #98989A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}



/*Featured-grid*/

.featured__article__top{
    padding: 80px 0;
    /*border-top: #262626 1px solid;*/
    display: flex;
    gap: 80px;
}
.top--item--img{
    background-image: url("../images/featured-article-top-img.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 515px;
    height: 427px;
}
.top--item--des > p:first-child{
    color: white;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;

}
.top--item--des > p:nth-child(2){
    color: #98989A;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    margin: 30px 0 50px 0;
}
.top--item--des > div:last-child{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.meta-data{
    display: flex;
    margin-bottom: 50px;
}
.meta-data > div{
    margin-right: 50px;
}
.meta-data > div:last-child{
    margin-right: 0;
}
.meta-data > div > p:first-child{
    color: #98989A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.meta-data > div > p:last-child{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 4px;
}
.like-and-share{
    display: flex;
    /*margin-top: 50px;*/
}
.like-and-share > div{
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #262626 1px solid;
    padding: 8px 16px;
    gap: 4px;
    margin-right: 10px;
}
.like-and-share > div > div{
    margin-right: 6px;
}
.like-and-share > div:first-child > div{
    background-image: url("../icons/love-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 17px;
    height: 15px;
}
.like-and-share > div:nth-child(2) > div{
    background-image: url("../icons/share-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 17px;
    height: 17px;
}
.like-and-share > div > p{
    color: #98989A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.top--item--des > div:last-child > a{
    border-radius: 12px;
    border: 1px solid #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 24px;
    gap: 10px;
    color: #98989A;
    font-size: 18px;
    text-decoration: none;
}
.featured__article__bottom{
    padding: 80px 0;
    /*border-top: #262626 1px solid;*/
    display: flex;
    gap: 30px;
}
.featured__article__bottom--item{
    flex: 1;
}
.bottom--item--img{
    background-image: url("../images/bottom-item-img-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*width: 512px;*/
    /*width: 100%;*/
    height: 222px;
    border-radius: 12px;
}
.featured__article__bottom--item > p:nth-child(2){
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    margin: 20px 0 10px 0;
}
.featured__article__bottom--item > p:nth-child(3){
    color: #98989A;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}
.bottom--item--des{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.read-more-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 24px;
    border-radius: 12px;
    border: #262626 1px solid;
    gap: 10px;
    text-decoration: none;
}
.read-more-button > p{
    color: #98989A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
    margin-right: 4px;
}
.read-more-button > div{
    background-image: url("../icons/arrow-up-right.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 17px;
    height: 17px;
}

/*Discover*/
.discover{
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
}
.discover__top{
    background-color: #1A1A1A;
}
.discover__top--content{
    padding: 120px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border-bottom: #262626 1px solid;*/
    /*border-top: #262626 1px solid ;*/
    background-color: #1A1A1A;
}
.discover__top--content > div{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.discover__top--content > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 10px;
    background-color: #333333;
    border-radius: 4px;
    width: fit-content;
}
.discover__top--content > div > div > p{
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
}
.discover__top--content > div > h2{
    color: white;
    font-size: 58px;
    font-weight: 500;
    line-height: 130%;
    font-family: 'Kumbh sans', sans-serif;
}
.discover__menu--content{
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.discover__menu--content > button{
    width: 250px;
    flex: 1;
    border-radius: 8px;
    border: #262626 1px solid;
    padding: 30px 24px;
    gap: 10px;
    color: #98989A;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    background-color: #141414;
}
.discover__menu--content > button:first-child{
    color: white;
    background-color: #1A1A1A;
}

.discover__bottom--item{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
}
.discover__bottom--item--info{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    gap: 16px;
}
.discover__bottom--item--info > a{
    display: none;
}
.info--img{
    background-image: url("../images/discover-info-item-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 42px;
    width: 80px;
    height: 80px;
}
.info--des{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.info--des > p:first-child{
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}
.info--des > p:last-child{
    color: #98989A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.discover__bottom--item--des{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.discover__bottom--item--des > div > p:nth-of-type(1){
    color: #98989A;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}
.discover__bottom--item--des > div > p:nth-of-type(2){
    margin: 30px 0 10px 0;
    color: white;
    font-size: 26px;
    font-weight: 600;
    line-height: 150%;
}
.discover__bottom--item--des > div > p:nth-of-type(3){
    margin-bottom: 30px;
    color: #98989A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.discover-like-and-share{
    display: flex;
    /*margin-top: 50px;*/
}
.discover-like-and-share > div{
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #262626 1px solid;
    padding: 8px 16px;
    gap: 4px;
    margin-right: 10px;
}
.discover-like-and-share > div:first-child > div{
    background-image: url("../icons/love-icon-red.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 18px;
}
.discover-like-and-share > div > div{
    margin-right: 6px;
}
.discover-like-and-share > div:nth-child(2) > div{
    background-image: url("../icons/cmt-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 16px;
    height: 16px;
}
.discover-like-and-share > div:nth-child(3) > div{
    background-image: url("../icons/share-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 17px;
    height: 17px;
}
.discover-like-and-share > div > p{
    color: #98989A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
