@media screen and (max-width: 390px) {
    .container{
        max-width: 358px;
    }
    .header__content--menu > nav{
        display: none;
    }
    .header__content--action > a{
        display: none;
    }
    .header__content--action > label{
        display: block;
    }
    #header-top{
        /*display: flex;*/
        /*justify-content: ;*/
        /*align-items: center;*/
        /*gap: 0;*/
        flex: 1;
        padding: 40px 24px 14px 24px;
    }
    #header-top a:first-child{
        display: none;
    }
    #header-top a:nth-child(2){
        display: block;
        font-size: 12px;
    }
    #header-top a:last-child{
        width: 20px;
        height: 20px;
    }
    .header__content{
        padding: 20px 0;
    }
    .header__content--brand{
        gap: 9px
    }
    .brand--logo{
        width: 35px;
        height: 35px;
    }
    .brand--name{
        width: 79px;
        height: 12px;
    }

    /*Title*/
    .main__title{
        padding: 40px 0;
        gap: 9px;
    }
    .main__title h1{
        font-size: 28px;
    }
    .main__title--des{
        flex-direction: column;
        gap: 14px;
        /*justify-content: start;*/
        align-items: start;
    }
    .main__title--des > p:first-child{
        font-size: 28px;
    }
    .main__title--des > p:last-child{
        font-size: 14px;
    }

    /*Featured-grid*/
    .featured__article__top{
        padding: 40px 0;
        flex-direction: column;
        gap: 30px;
    }
    .top--item--img{
        width: 358px;
        height: 213px;
    }
    .top--item--des > p:first-child{
        font-size: 20px;
    }
    .top--item--des > p:nth-child(2){
        font-size: 16px;
        margin: 6px 0 20px 0;
    }
    .meta-data{
        margin-bottom: 20px;
    }
    .meta-data > div{
        margin-right: 20px;
    }
    .meta-data > div > p:first-child{
        font-size: 14px;
    }
    .meta-data > div > p:last-child{
        font-size: 14px;
    }
    .like-and-share > div{
        padding: 6px 14px;
        gap: 4px;
        margin-right: 8px;
    }
    .like-and-share > div:first-child > div{
        width: 15px;
        height: 13px;
    }
    .like-and-share > div:nth-child(2) > div{
        width: 14px;
        height: 14px;
    }
    .like-and-share > div > p{
        font-size: 14px;
    }
    .featured__article__bottom{
        padding: 40px 0;
        flex-direction: column;
    }
    .bottom--item--img{
        /*width: 358px;*/
        height: 185px;
        border-radius: 10px;
    }
    .featured__article__bottom--item > p:nth-child(2){
        font-size: 16px;
        margin: 16px 0 4px 0;
    }
    .featured__article__bottom--item > p:nth-child(3){
        font-size: 14px;
    }
    .bottom--item--des{
        margin-top: 18px;
    }
    .bottom--item--des > a{
        padding: 14px 20px;
        border-radius: 8px;
        gap: 4px;
    }
    .bottom--item--des > a > p{
        font-size: 14px;
    }
    .bottom--item--des > a > div{
        width: 14px;
        height: 14px;
    }
}