*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background: #141414;
}
.container{
    max-width: 1596px;
    margin: auto;
}
hr{
    background-color: #262626;
    height: 1px;
    border: none;
    position: absolute;
    left: 0;
    right: 0;
}