*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background: #141414;
}
.container{
    max-width: 1596px;
    margin: auto;
}
hr{
    background-color: #262626;
    height: 1px;
    border: none;
    position: absolute;
    left: 0;
    right: 0;
}

.title-h2{
    background-color: #1A1A1A;
}
.title-h2-content{
    padding: 120px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border-bottom: #262626 1px solid;*/
    /*border-top: #262626 1px solid ;*/
    background-color: #1A1A1A;
    gap: 250px;
}
.title-h2-content > div{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.title-h2-content > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 10px;
    background-color: #333333;
    border-radius: 4px;
    width: fit-content;
}
.title-h2-content > div > div > p{
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
}
.title-h2-content > div > h2{
    color: white;
    font-size: 58px;
    font-weight: 500;
    line-height: 130%;
    font-family: 'Kumbh sans', sans-serif;
}