/*body*/
.body{
    border-top: 1px solid #262626;
    padding: 0 162px;
    gap: 80px;
    max-width: 1920px;
    max-height: 869px;
}
.body-content{
    padding-bottom: 120.5px;
    display: flex;
}
.body-content__logo{
    background-image: url("./logo/logo-3.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 64px;
    height: 64px;
}
.body-content__title{
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -3%;
    color: #FFFFFF;
    margin-top: 50px;
}
.body-content__text{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -3%;
    color: #98989A;
    margin-top: 30px;
}
.body-content__button__text{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -3%;
    color: #98989A;
    margin-top: 50px;
    border-radius: 8px;
    border: 1px solid #262626;
    padding: 18px 24px;
    gap: 10px;
    background-color:rgba(69, 68, 68, 0.3);
    display: inline-flex;
}
.body-content__button__logo{
    background-image: url("./icons/arrow-up.svg");
    width: 16.5px;
    height: 16.5px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 3.75px;
    left: 3.75px;
}
.body-sub-content {
    max-width: 519px;
    margin: 120.5px 80px 120.5px 0;
}
.body-content__answer{
    padding: 80px 0 80px 80px;
    gap: 30px;
    border-left: 1px solid #262626;
}
.question-text{
    color:#FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}
.question-text{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.question{
    padding: 34px;
    border-radius: 12px;
    border: 1px solid #262626;
    background-color: #1A1A1A;
    width: 805px;
    margin-bottom: 30px;
}
.answer{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #7E7E81;
    display: none;
    border-top: 1px solid #262626;
    padding-top: 24px;
}
.answer-1{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #7E7E81;
    display: none;
    border-top: 1px solid #262626;
    padding-top: 24px;
}
.answer-2{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #7E7E81;
    display: none;
    border-top: 1px solid #262626;
    padding-top: 24px;
}
.answer-3{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #7E7E81;
    display: none;
    border-top: 1px solid #262626;
    padding-top: 24px;
}
.answer-4{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #7E7E81;
    display: none;
    border-top: 1px solid #262626;
    padding-top: 24px;
}
#question:checked ~ .answer,
#question-1:checked ~ .answer-1,
#question-2:checked ~ .answer-2,
#question-3:checked ~ .answer-3,
#question-4:checked ~ .answer-4{
    display: block;
}
#question:checked ~ .question-text,
#question-1:checked ~ .question-text,
#question-2:checked ~ .question-text,
#question-3:checked ~ .question-text,
#question-4:checked ~ .question-text{
     padding-bottom: 24px;
}
.question-text::after {
    content: "";
    background-image: url("./icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    background-size: cover;
}
#question:checked ~ .question-text::after,
#question-1:checked ~ .question-text::after,
#question-2:checked ~ .question-text::after,
#question-3:checked ~ .question-text::after,
#question-4:checked ~ .question-text::after {
    content: "";
    background-image: url("./icons/minus.svg");
}
/*body-sub*/
.sub-body{
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    padding: 120px 162px;
    gap: 100px;
    background-color: #1A1A1A;
}
.sub-body__title{
    display: flex;
    min-width: 285px;
    max-height: 217px;
}
.sub-body__title__logo{
    background-image: url("./logo/logo-second.svg");
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.logo{
    padding: 33.5px 80px 33.5px 0;
}
.sub-body__slogan{
    font-weight: 500px;
    font-size: 20px;
    letter-spacing: -3%;
    color: #FFFFFF;
}
.sub-slogan{
    display: inline-block;
    border-radius: 4px;
    padding: 6px 10px;
    gap: 10px;
    background-color: #333333;
}
.sub-body__title{
    font-weight: 500;
    font-size: 58px;
    letter-spacing: -3%;
    color:#FFFFFF;
}
.sub-body__text{
    font-weight: 400px;
    font-size: 18px;
    letter-spacing: -3%;
    color:#7E7E81;
}
.sub-title{
    padding-bottom: 60px;
}
.body-slogan{
    padding-bottom: 40px;
}
/*sub-body*/
.sub-body__infor{
    padding: 100px 162px 120px 0;
}
.sub-body__infor__title{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -3%;
    color: #FFFFFF;
    width: 353.3333435058594px;
}
.sub-body__text{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3%;
    padding-top: 20px;
}
.sub-body__logo{
    background-color:#FFD11A;
    border-radius: 100px;
    padding: 14px;
    gap: 10px;
    background-image: url('./icons/arrow-black.svg');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
.head-box{
    display: flex;
    justify-content: space-between;
}
.infor-box{
    display: flex;
    border-radius: 12px;
    border: 1px solid #262626;
    padding: 20px;
    justify-content: space-evenly;
    gap: 20px;
    background-color: #141414;
    width: 1596px;
}
.sub-body__box{
    border-radius: 12px;
    border: 1px solid #262626;
    padding: 40px;
    gap: 20px;
    max-width: 505.3333435058594px;
    background-color: #1A1A1A;
}

