.footer{
    padding: 0 162px;
}
.infor-column{
    padding:  80px 0 85px 0;
    flex: 1;
}
.footer-infor{
    display: flex;
    width: 1596px;
    justify-content: space-between;
    gap: 80px;
    border-bottom: 1px solid #262626;
}
.footer-infor-title{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -3%;
    color: #FFFFFF;
    padding-bottom: 36px;
}
.footer-infor-text{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -3%;
    color: #666666;
    display: flex;
}
.infor-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}
.footer-infor-text__sub{
    border-radius: 6px;
    border: 1px solid;
    border-image-source: linear-gradient(#262626)50%, lineargradient(#FFD119)50%;
    padding: 4px 12px;
    gap: 10px;
    background-color: #1A1A1A;
    margin-left: 8px;
}
.sub-text-infor{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -3%;
    color: #FFFFFF;
}
.box-logo{
    border-radius: 8px;
    border: 1px solid #262626;
    padding: 10px 18px;
    gap: 10px;
    color: #141414;
    display: inline-flex;
    width: fit-content;
    justify-content: space-between;
}
.footer-logo{
    background-image: url("./icons/arrow-up.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    padding: 13.5px 16px 13.5px 10px;
}
/*footer-policy*/
.policy-box{
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
}
.footer-policy__text{
    display: flex;
}
.policy-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #666666;
    padding-left: 11px;
}
.policy-text-border{
    border-right: 1px solid #262626;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #666666;
    padding-right: 11px;
}
.footer-policy__icon{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.policy-icon__twitter{
    background-image: url("./logo/twitter.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
.policy-icon__dot{
    background-image: url("./logo/dot.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
.policy-icon__link{
    background-image: url("./logo/linkdle.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}