/*noti*/
.noti {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    gap: 10px;
    border: 1px solid #262626;
    background-color: #141414;
}
.noti-text{
    color: #98989A;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -3%;
}
.noti-logo{
    background-image: url('./icons/arrow-up.svg');
    background-repeat: no-repeat;
    width: 16.5px;
    height: 16.5px;
    margin-left: 13.5px;
    background-position: center;
}
/*header-bar*/
.header-bar{
    background-color: #1A1A1A;
    justify-content: space-between;
    padding: 24px 162px;
    display: flex;
}
.header-bar__logo{
    display: flex;
}
.header-bar__logo__image{
    background-image: url('./logo/first-logo.svg');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.header-bar__logo__text{
    color:#FFFFFF;
    display: flex;
    align-items: center;
    position: relative;
    left: 12.72px;
}
.header-bar__options{
    display: flex;
    gap: 40px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}
.header-bar__options__text{
    color: #7E7E81;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
}
.header-bar__contact{
    gap: 10px;
}
.header-bar__contact__text{
    background-color:#FFD11A;
    padding: 14px 20px;
    border-radius: 10px;
    color: #141414;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0%;
}
/*infor*/
.infor{
    padding: 0 162px;
    gap: 50px;
}
.infor-general{
    background-color
}
.infor-icons{
    background-image: url('./icons/arrow-up.svg');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.infor-general__sub{
    display: flex;
}
.infor-general__head{
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -3%;
    color:#FFFFFF;
}