.container {
    background-color: #141414;
}

/*noti*/
.noti {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    gap: 10px;
    border: 1px solid #262626;
    background-color: #141414;
}
.noti-text{
    color: #98989A;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -3%;
}
.noti-logo{
    background-image: url('./icons/arrow-up.svg');
    background-repeat: no-repeat;
    width: 16.5px;
    height: 16.5px;
    margin-left: 13.5px;
    background-position: center;
}
/*header-bar*/
.header-bar{
    background-color: #1A1A1A;
    justify-content: space-between;
    padding: 24px 162px;
    display: flex;
}
.header-bar__logo{
    display: flex;
}
.header-bar__logo__image{
    background-image: url('./logo/first-logo.svg');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.header-bar__logo__text{
    color:#FFFFFF;
    display: flex;
    align-items: center;
    position: relative;
    left: 12.72px;
}
.header-bar__options{
    display: flex;
    gap: 40px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}
.header-bar__options__text{
    color: #7E7E81;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
}
.header-bar__contact{
    gap: 10px;
}
.header-bar__contact__text{
    background-color:#FFD11A;
    padding: 14px 20px;
    border-radius: 10px;
    color: #141414;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0%;
}
.header-bar__contact__mobile{
    background-image: url('./icons/3-gach.svg');
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    background-position: center;
    position: relative;
    top: 10px;
    display: none;
}
/*infor*/
.infor{
    border-bottom: 1px solid #262626;
}
.infor-box{
    gap: 100px;
    display: flex;
    width: 1596px;
    margin: 0 auto;
    padding: 80px 0;
}
.infor-general{
    border-right: 1px solid #262626;
    padding: 80px 0;
}
.infor-icons{
    background-image: url('./icons/arrow-up.svg');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infor-text{
    color: #98989A;
}
.infor-general__sub{
    display: inline-flex;
    gap: 10px;
    padding: 18px 24px;
    border-radius: 8px;
    border: 1px solid #262626;
    width: fit-content;
    margin-bottom: 15px;
    background-color: rgba(69, 68, 68, 0.3);
    margin-right:50px;
}
.infor-connect__icons{
    display: flex;
    margin-top: 50px;
}
.infor-general__head{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -3%;
    color:#FFFFFF;
    margin-bottom: 50px;
}
.infor-general__address {
    margin-top: 50px;
    margin-bottom: 15px;
}
.infor-twitter{
    background-color: rgba(69, 68, 68, 0.3);
    border-radius: 6px;
    border: 1px solid #262626;
    gap: 10px;
    padding: 18px 30px;
    max-width: 84px;
}
.infor-twitter__image{
    background-image: url('./logo/twitter.svg');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.infor-dot__image{
    background-image: url('./logo/dot.svg');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.infor-dot{
    background-color: rgba(69, 68, 68, 0.3);
    border-radius: 6px;
    border: 1px solid #262626;
    gap: 10px;
    padding: 18px 30px;
    max-width: 84px;
    margin-left: 20px;
}
.infor-linkedin__image{
    background-image: url('./logo/linkdle.svg');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.infor-linkedin{
    background-color: rgba(69, 68, 68, 0.3);
    border-radius: 6px;
    border: 1px solid #262626;
    gap: 10px;
    padding: 18px 30px;
    max-width: 84px;
    margin-left: 20px;
}
/*content*/
.content{
    display: flex;
    padding-left: 162px;
}
.content-text{
    gap: 50px;
    padding: 258px 80px 256px 0;
}
.content-text__logo{
    background-image: url('./icons/Icon-round.svg');
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
}
.content-text__big{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 58px;
    line-height: 130%;
    letter-spacing: -3%;
    margin-top: 58px;
    width: 519px;
}
.content-form{
    padding: 80px 0 80px 80px;
    border-left: 1px solid #262626;
}
.content-name{
    display: flex;
}
.content-text-name{
    color:#FFFFFF;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0%;
}
.content-fill{
    color:#666666;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
}
.content-text-fill{
    display: inline-flex;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #262626;
    background-color:rgba(69, 68, 68, 0.3);
    border-top: 16px;
    min-width: 433.5px;
    margin-top: 16px;
}
.content-first-name{
    margin-right: 50px;
}
.content-detail{
    margin-top: 50px;
}
.content-detail{
    display: flex;
}
.country{
    border-radius: 7px;
    border: 1px solid #262626;
    background-color:rgba(69, 68, 68, 0.3);
    gap: 6px;
    padding: 8px 18px;
    margin-top: 16px;
    display: flex;
    align-items: center;
}
.image{
    background-image: url('./logo/india.svg');
    width: 34px;
    height: 34px;
    border-radius: 100px;
    display:flex;
}
.content-phone-number__detail{
    display: flex;
}
.arrow-down{
    background-image: url('./icons/arrow-down.svg');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
.box-number{
    display: flex;
    color: #666666;
    padding: 20px;
    gap: 77px;
    border-radius: 8px;
    border: 1px solid #262626;
    background-color: rgba(69, 68, 68, 0.3);
    margin-top: 18px;
    margin-left: 16px;
    min-width: 317.5px;
}
.number{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
}
.content-message{
    gap: 16px;
    margin-top: 50px;
}
.content-message__text{
    color:#FFFFFF;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0%;
}
.content-box{
    gap: 77px;
    border-radius: 8px;
    border: 1px solid #262626;
    padding: 20px;
    margin-top: 16px;
    background-color: rgba(69, 68, 68, 0.3);
}
.content-message__content{
    color: #666666;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    min-height: 163px;
}
.content-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.content-policy{
    display:flex;
    align-items: center;
}
#policy{
    width: 28px;
    height: 28px;
    border-radius: 8px;
    border: 1px solid #262626;
    background-color: rgba(69, 68, 68, 0.3);
    color:rgba(69, 68, 68, 0.3);
    margin-right: 10px;
}
.content-policy__text{
    color:#FFFFFF;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
}
.content-send{
    border-radius: 8px;
    padding: 18px 46px;
    gap: 67px;
    background-color:#FFD11A;
    color:#141414;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    min-width: 137px;
}
/*responsive*/
/*head*/
@media(max-width: 640px){
    .header-bar__options{
        display:none;
    }
    .header-bar{
        padding: 24px 16px;
    }
    .header-bar__contact{
        display:none;
    }
    .header-bar__contact__mobile{
        display:block;
    }
    .infor-box{
        flex-direction: column;
    }
    .infor-general{
        padding: 0 16px;
        flex-direction: column;
        display: flex;
    }
    .infor-general__head{
        margin-bottom: 20px;
    }
    .content{
        flex-direction: column;
        padding-left: 16px;
    }
    .content-form{
        flex-wrap: wrap;
    }
    .content-text{
        border-bottom: 1px solid #262626;
        max-width: 358px;
    }
    .content-text-big{
        font-size:28px;
    }
    .content-name{
        flex-wrap: wrap;
        gap: 20px;
    }
    .content-detail{
        flex-direction: column;
        gap: 20px;
    }
    .content-box{
        width: 440px;
        border-radius: 6px;
        gap: 77px;
        paddingL 16px;
    }
    .content-bottom{
        flex-direction: column;
    }
    .content-send{
        width: 440px;
        padding: 14px 34px;
        gap: 67px;
        border-radius: 8px;
        margin-top: 20px;
    }
}