.container {
    background-color: #141414;
}

/*noti*/
.noti {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    gap: 10px;
    border: 1px solid #262626;
    background-color: #141414;
}
.noti-text{
    color: #98989A;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -3%;
}
.noti-logo{
    background-image: url('./icons/arrow-up.svg');
    background-repeat: no-repeat;
    width: 16.5px;
    height: 16.5px;
    margin-left: 13.5px;
    background-position: center;
}
/*header-bar*/
.header-bar{
    background-color: #1A1A1A;
    justify-content: space-between;
    padding: 24px 162px;
    display: flex;
}
.header-bar__logo{
    display: flex;
}
.header-bar__logo__image{
    background-image: url('./logo/first-logo.svg');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.header-bar__logo__text{
    color:#FFFFFF;
    display: flex;
    align-items: center;
    position: relative;
    left: 12.72px;
}
.header-bar__options{
    display: flex;
    gap: 40px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}
.header-bar__options__text{
    color: #7E7E81;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
}
.header-bar__contact{
    gap: 10px;
}
.header-bar__contact__text{
    background-color:#FFD11A;
    padding: 14px 20px;
    border-radius: 10px;
    color: #141414;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0%;
}
/*infor*/
.infor{
    gap: 100px;
    display: flex;
    border-bottom: 1px solid #262626;
    justify-content: space-between;
    width: 1596px;
    margin: 0 auto;
    padding: 80px 0;
}
.infor-general{
    width: 20%;
    border-right: 1px solid rgba(38, 38, 38, 0.45);
}
.infor-icons{
    background-image: url('./icons/arrow-up.svg');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infor-text{
    color: #98989A;
}
.infor-general__sub{
    display: inline-flex;
    gap: 10px;
    padding: 18px 24px;
    border-radius: 8px;
    border: 1px solid #262626;
    min-width: 197px;
    margin-bottom: 15px;
    background-color: rgba(69, 68, 68, 0.3);
    margin-right:50px;
}
.infor-connect__icons{
    display: flex;
    margin-top: 50px;
}
.infor-general__head{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -3%;
    color:#FFFFFF;
    margin-bottom: 50px;
}
.infor-general__address {
    margin-top: 50px;
    margin-bottom: 15px;
}
.infor-twitter{
    background-color: rgba(69, 68, 68, 0.3);
    border-radius: 6px;
    border: 1px solid #262626;
    gap: 10px;
    padding: 18px 30px;
    max-width: 84px;
}
.infor-twitter__image{
    background-image: url('./logo/twitter.svg');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.infor-dot__image{
    background-image: url('./logo/dot.svg');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.infor-dot{
    background-color: rgba(69, 68, 68, 0.3);
    border-radius: 6px;
    border: 1px solid #262626;
    gap: 10px;
    padding: 18px 30px;
    max-width: 84px;
    margin-left: 20px;
}
.infor-linkedin__image{
    background-image: url('./logo/linkdle.svg');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.infor-linkedin{
    background-color: rgba(69, 68, 68, 0.3);
    border-radius: 6px;
    border: 1px solid #262626;
    gap: 10px;
    padding: 18px 30px;
    max-width: 84px;
    margin-left: 20px;
}
/*content*/