.hero{
    border-top: 1px solid #262626;
    display: flex;
    justify-content: space-between;
    gap: 46px;
}
.hero-container{
    padding-top: 80px;
    padding-bottom: 80px;
    width: calc((100% - 184px) / 3);
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.logo-hero{
    width: 100%;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.hero-title{
    font-weight: 600;
    font-size: 26px;
    line-height: 150%;
    color: #FFFFFF;
}
.hero-text{
    color: #98989A;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
.hero-btn{
    display: flex;
    gap: 20px;
}
.size{
    width: calc((100% - 20px) / 2);
    padding: 18px 24px;
    border-radius: 12px;
    border: 1px solid #262626;
    gap: 10px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.hero-btn-1{
    background-color:#141414;
    color: #98989A;
}
.hero-btn-2{
    background-color: #1A1A1A;
    color: #98989A;
}
.divider-3{
    width: 1px;
    height: 674px;
    background-color: #262626;
}
/*responsive*/
/*tablet*/
@media (min-width : 768px) and (max-width : 991px){

}