.sub-body{
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    padding: 120px 0;
    gap: 100px;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
}
.sub-body-head{
    display: flex;
}
.sub-body-head__logo{
    background-image: url('./logo/logo-second.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 150px;
    background-size: contain;
}
.logo{
    padding: 33.5px 80px 33.5px 0;
}
.sub-body-head__text-head{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -3%;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: #333333;
    width: fit-content;
}
.sub-body-head__text-body{
    font-weight: 500;
    font-size: 58px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #FFFFFF;
    padding: 16px 0 30px 0;
}
.sub-body-head__text-footer{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -3%;
    color: #7E7E81;
}
.sub-body-foot{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color:#141414;
    padding: 20px;
    border: 1px solid #262626;
    border-radius: 12px;
}
.sub-body__card{
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 40px;
    gap: 20px;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
}
.card-head__title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.card-text{
    color: #98989A;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -3%;
}
.card-head{
    display: flex;
    justify-content: space-between;
}
.card-logo{
    background-color: #FFD11A;
    padding: 14px;
    gap: 10px;
    border-radius: 100px;
}
.card-head__logo{
    background-image: url('./icons/arrow-up-black.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}
.card-head-text{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -3%;
    color: #FFFFFF;
}
.sub-body-head__text-head-box{
    display: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -3%;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: #333333;
    width: fit-content;
}
/*responsive*/
/*tablet*/
@media (min-width : 768px) and (max-width : 991px){
    .sub-body{
        padding-right: 40px;
        padding-left: 40px;
    }
    .sub-body-head{
        gap: 60px;
    }
    .sub-body-head__logo{
        width: 120px;
        height: 120px;
        background-size: contain;
    }
    .logo{
        padding: 23.5px 0 23.5px 0;
    }
    .sub-body-head__text-head{
        padding: 4px 8px;
        border-radius: 4px;
        gap: 10px;
        font-size: 16px;
    }
    .sub-body-head__text-body{
        font-size: 44px;
        padding: 10px 0 20px 0;
    }
    .sub-body-head__text-footer{
        font-size: 16px;
    }
    .sub-body-foot{
        border-radius: 10px;
        padding: 10px;
        gap: 10px;
    }
    .sub-body-card{
        border-radius: 10px;
        padding: 30px;
        gap: 16px;
    }
    .card-head-text{
        font-size: 18px;
    }
    .card-text{
        font-size: 16px;
    }
    .card-head__logo{
        width: 20px;
        height: 20px;
        background-size: contain;
    }
    .card-logo{
        padding: 12px;
        gap: 10px;
    }
}
/*iphone*/
@media screen and (max-width: 767px){
    .sub-body{
        padding-right: 16px;
        padding-left: 16px;
        gap: 40px;
    }
    .sub-body-head__logo{
        width: 60px;
        height: 60px;
        background-size: contain;
    }
    .sub-body-head__text-head-box{
        display: block;
        padding: 4px 8px;
        gap: 10px;
        font-size: 14px;
        position: absolute;
        left: 93px;
    }
    .sub-body-head__text-head{
        display: none;
    }
    .logo{
        display: flex;
        gap: 20px;
        padding: 0;
    }
    .sub-body-head{
        display: flex;
        flex-direction: column;
    }
    .sub-body-head__text-body{
        font-size: 28px;
    }
    .sub-body-head__text-footer{
        font-size: 14px;
    }
    .sub-body-foot{
        flex-direction: column;
    }
    .card-head-text{
        font-size: 16px;
    }
    .card-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }
    .card-head__logo{
        width: 20px;
        height: 20px;
        background-size: contain;
    }
    .sub-body__card{
        padding: 24px;
        gap: 10px;
    }
}