




.AI-item{
    max-width: 100%;
    background-color: #141414;
    padding: 0 162px 0 162px;
    border-top: 1px solid #262626;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: space-between;
    position: relative;
    /*gap: 60px;*/
}

.AI-item-overview{
    max-width: calc(100% - 977px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*justify-content: center;*/
    gap: 50px;
}

.AI-item-overview .AI-item-heading{
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    gap: 16px;

}
.AI-item-overview .AI-item-heading h2{
    width: 323px;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
}

.AI-item-overview .AI-item-heading span{
    padding: 10px 16px;
    border: 1px solid #262626;
    border-radius: 100px;

}

.AI-item-overview  .AI-item-description{
    width: 100%;
    background-color: #1A1A1A;
    padding: 30px;
    border: 1px solid #262626;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    position: relative;
}

.AI-item-conten{
    max-width:  977px;
}


























