




.AI-item{
    max-width: 1920px;
    width: 100%;
    background-color: #141414;
    padding: 0 162px 0 162px;
    border-top: 1px solid #262626;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: space-between;
    position: relative;
    /*gap: 60px;*/
}

.AI-item-overview{
    max-width: 45%;
    display: flex;
    /*padding-right: 80px;*/
    /*margin-right: 80px;*/
    flex-direction: column;
    align-items: flex-start;
    /*justify-content: center;*/
    gap: 50px;
    width: 519px;
}


.AI-item-overview .AI-item-heading{
    display: flex;
    align-items: center;   /* ôm chiều cao nội dung */
    justify-content: space-between;
    width: 100%;
}

.AI-item-overview .AI-item-heading h2{
    width: 65%;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
    /*white-space: nowrap;*/
}

.AI-item-overview .AI-item-heading span{
    padding: 10px 16px;
    border: 1px solid #262626;
    border-radius: 100px;
    width: auto;
    /*display: inline-flex; !*  ôm icon *!*/
    align-items: center;
    gap: 4px;
}


.AI-item-overview  .AI-item-description{
    width: 100%;
    background-color: #1A1A1A;
    padding: 30px;
    border: 1px solid #262626;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    position: relative;
}

.AI-item-overview .AI-item-description>a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: #98989A;
    background-color: #141414;
    padding: 18px 24px;
    border: 1px solid #262626;
    border-radius: 12px;
}
.AI-item-overview .AI-item-description>a:hover{
    color: #FFD11A;
    text-decoration: underline;
}

.AI-item-description>div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
}
.AI-item-description > div > span{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
}
.AI-item-description > div > span:first-child{
    color: #98989A;
}

/*========================AI-item-conten==================*/
.AI-item-conten{
    max-width:  55%;
    padding: 80px 0 80px 80px;
    border-left: 1px solid #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.AI-item-conten img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

.AI-item-conten>div >h3,
.AI-item-conten > div>p{
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
    width: 100%;
    margin-top: 30px;

}
.AI-item-conten >div> p{
    font-size: 18px;
    color: #98989A;
    margin-top: 14px;
}

.AI-item-conten .AI-item-conten-layout{
    width: 100%;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

.AI-item-conten-layout .item-layout{
    max-width: 33%;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;
    /*align-items: center;*/
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 13px;
    padding: 20px;


}






.AI-item-conten-layout .item-layout>span:first-child{
    color: #98989A;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;

}
.AI-item-conten-layout .item-layout>span:last-child{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;


}































