

.menu-bar .menu-list li:nth-child(3){
    padding: 14px 24px;
    border-radius: 10px;
    border: 1px solid #333333;
    background-color: #141414;

}
.menu-bar .menu-list li:nth-child(3) a{
    color: #fff;
}











