
.heading {
    max-width: 100%;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 130px 162px;
    /*margin:130px 162px;*/
    position: relative;


}

.heading h1 {
    max-width: 100%;
    font-weight: 500;
    font-size: 80px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #FFFFFF;


}

.heading p {
    max-width: 900px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #98989A;
    position: absolute;
    bottom: 142px;
    right: 162px;


}

/* respovive tabled*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    .heading {
        padding: 60px 60px;
        position: relative;
    }

    .heading h1 {
        font-size: 45px;
        font-weight: 500;
    }

    .heading p {
        width: 520px;
        font-size: 16px;
        position: relative;
        bottom: 50px;
        right: -210px;

    }

}


@media screen and (max-width: 767px) {
    .heading {
        padding: 40px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 14px;
        position: relative;

    }

    .heading h1 {
        font-size: 28px;
    }

    .heading p {
        font-size: 14px;
        position: relative;
        left: 0;
        bottom: 0;
    }

    .heading span {
        display: none;
    }


}




















