
footer{
    width: 100%;
    padding-left: 162px;
    padding-right: 162px;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    flex-direction: column;
    background-color: #141414;

}


.Footer-top{
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 80px;
    border-bottom: 1px solid #262626;

}

.Footer-top-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: right;*/
    align-items: flex-start;
    text-align: center;
    gap: 18px;


}

.Footer-top-item>a ,
.Footer-top-item>h4,
.Footer-bottom span{
    text-decoration: none;
    color: #666666;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -3%;
    position: relative;

}

.Footer-top-item>a:hover{
    text-decoration: underline;
    color: #FFD11A;
}
.Footer-top-item >h4{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;

}
.Footer-top-item >h4{
    margin-bottom: 36px;
}

.Footer-top-item .item-new{
    background: linear-gradient(70.33deg, #262626 61.2%, #FFD119 216.15%);
    font-size: 16px;
    position: absolute;
    right: -68px;
    top: -5px;
    width: 58px;
    height: 32px;
    padding: 4px 12px;
    display: flex;
    border: 1px solid;
    color: white;
    border-radius: 6px;

}

.footer-top-item-Resources>a{
    /*width: 100%;*/
    /*background-color: #8f6824;*/
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid #262626;
    color: #98989A;
    display: flex;
    gap: 10px;
}

















/*========footer bottom*/



.Footer-bottom{
    width: 100%;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top:40px;
    padding-bottom: 40px;

}
/*.Footer-bottom-left{*/

.Footer-bottom-left span:first-child{
    border-right: 1px solid #262626;
    margin-right: 11px;
    padding-right: 11px;
}

.footer-bottom-img{
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    gap: 20px;

}















