
.container{
    max-width: 1920px;
}


.top-banner{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    background-color: #141414;
    border-bottom: 1px solid #262626;



}
.top-banner a{
    text-decoration: none;
    color: #98989A;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    background-color: #141414;
    letter-spacing: -3%;

}
.top-banner img{
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-color:#141414;

}
.top-banner a:hover{
    text-decoration: underline;
    /*color:#FFD11A ;*/
}


/*======================================================================*/
/*thanh menu*/
nav{
    display: flex;
    width: 100%;
    padding: 24px 162px;
    background-color: #1A1A1A;
    border-bottom: 1px solid #262626;
    box-sizing: border-box;

}




nav .menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;

}
.menu-bar img{
    width: 179px;
    height: 50px;
    /*z-index: 11;*/

}

.menu-list {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /*max-width: 388px;*/
    max-width: 100%;
    list-style: none;
    position: relative;
    left: -65px;
    /*z-index: 10;*/
    border-radius: 12px;


}
.menu-list li>a{
    text-decoration: none;
    font-size: 18px;
    color: #7E7E81;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
}
.menu-list li>a:hover{
    color: #FFD11A;
    /*font-size: 20px;*/
}

.menu-bar>a{
    /*width: 137px;*/
    padding: 14px 20px;
    border-radius: 10px;
    background-color: #FFD11A;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    color: #141414;

}

.menu-bar>a:hover {
    background-color: #caa215;
}

.banner{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}
.banner img{
    width: 100%;
    max-width: 100%;
    height: 598px;
    object-fit: cover;
    background-repeat: no-repeat;
    display: flex;


}

.banner h1{
   display: flex;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: -3%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 437px;
    background-color: transparent;

}
.overlay-banner{
    width: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 0.880208) 75.52%, #141414 100%);
    inset: 0;
    display: flex;


}


/*============rebonship cho taplet*/


@media screen and (max-width: 768px){

}















