










.main-conten{
    width: 100%;
    display: flex;
    background-color: #141414;

}

.main-content-Information{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


/*-=========Introduction==================*/
.content-Information-Introduction{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:14px;
    padding: 80px 80px 80px 162px;
    background-color: #141414;
    border-top: 1px solid ;
    border-bottom: 1px solid ;
    border-color: #262626;


}

.content-Information-Introduction h2{
    color: #FFFFFF;
    background-color: transparent;
    width: 100%;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
}

.content-Information-Introduction p{
    color: #98989A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -3%;
    background-color: transparent;
}




/* =========conten item  ===============*/
.content-Information-list{
    width: 100%;
    /*height: 741px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 80px 80px 80px 162px;
    background-color: #141414;
    border-bottom: 1px solid #262626;
    /*position: relative;*/


}

.content-Information-list-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:24px;
    background-color: transparent;

}


.content-Information-list-item h2{
    width: 100%;
    background-color: transparent;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: -3%;
}
.content-Information-list-item p{
    width: 100%;
    color: #98989A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -3%;
    background-color: transparent;

}














/*==========heading conten======================*/
.main-content-heading{
    width: 35%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    text-align: center;
    background-color: #141414;
    border-bottom: 1px solid #262626;
    border-left: 1px solid #262626;


}

.main-content-heading-icon{
    width: 100%;
    padding: 50px 162px 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-top: 1px solid #262626;
    background-color: #141414;
}

.main-content-heading-icon .icon-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    max-width: 130px;
    padding: 10px 24px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid #262626;

}

.icon-item span>img{
    background-color: #141414;

}

.icon-item span{
    color: #98989A;
    height: auto;
    /*margin: auto;*/
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    position: relative;
}

.icon-item .icon-text{
    position: relative;
    top: -1.5px;
}

/*====title===============*/
.main-content-heading-title{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #141414; /* bật lại */
    padding: 80px 162px 80px 80px;
    box-sizing: border-box;
    border-top: 1px solid #262626;
    gap: 50px;
}



/*===========title top*/
.main-content-heading-title--top{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

}


.title-top-item{
    color: #FFFFFF;
    display: flex;
    align-items: center;

}
.title-top-item div{
    margin-right: 20px;
}

.title-top-item div span{
    display: flex;
    flex-direction: row;
    width: 210px;
    margin-bottom: 10px;
}
.title-top-item div span:first-child{
    color: #98989A;
}



/*titile bottom*/
.main-content-heading-title-bottom {
    max-width: 440px;
    display: flex;
    flex-direction: column;
    /*background-color: #8f6824;*/
    align-items: flex-start;
    gap: 16px;
}

.main-content-heading-title--bottom-list{
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    background-color: #1A1A1A;
    gap: 20px;
}
.main-content-heading-title-bottom div:first-child{
    color: #98989A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -3%;
}

.main-content-heading-title--bottom-list ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

}
.main-content-heading-title--bottom-list ul li{
    color: #FFFFFF;
    margin-left: 20px;

}

.main-content-heading-title--bottom-list ul li a{
    /*font-weight: 400;*/
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    color: #FFFFFF;
    text-decoration: none;

}


















