.asked-question{
    display: flex;
    border-top: 1px solid #262626;
    gap: 80px;
}
.asked-question__text{
    padding: 241px 0 241px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.asked-logo{
    background-image: url("./logo/logo-3.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 64px;
    height: 64px;
}
.asked-title{
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -3%;
    color: #FFFFFF;
}
.asked-text{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -3%;
    color: #98989A;
}
.asked-button{
    border-radius: 8px;
    border: 1px solid #262626;
    padding: 18px 24px;
    gap: 10px;
    background-color: #1A1A1A;
    display: flex;
    width: fit-content;
}
.button-text{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -3%;
    color: #98989A;
}
.button-logo{
    background-image: url('icons/arrow-up.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 16.5px;
    height: 16.5px;
}
.asked-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/*sub*/
.body-content__answer{
    padding: 80px 0 80px 80px;
    border-left: 1px solid #262626;
    width: 100%;
}
.question-text{
    color:#FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}
.question-text{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.question{
    padding: 34px;
    border-radius: 12px;
    border: 1px solid #262626;
    background-color: #1A1A1A;
    margin-bottom: 30px;
}
.answer{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #7E7E81;
    display: none;
    border-top: 1px solid #262626;
    padding-top: 24px;
}
.answer-1{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #7E7E81;
    display: none;
    border-top: 1px solid #262626;
    padding-top: 24px;
}
.answer-2{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #7E7E81;
    display: none;
    border-top: 1px solid #262626;
    padding-top: 24px;
}
.answer-3{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #7E7E81;
    display: none;
    border-top: 1px solid #262626;
    padding-top: 24px;
}
.answer-4{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #7E7E81;
    display: none;
    border-top: 1px solid #262626;
    padding-top: 24px;
}
#question:checked ~ .answer,
#question-1:checked ~ .answer-1,
#question-2:checked ~ .answer-2,
#question-3:checked ~ .answer-3,
#question-4:checked ~ .answer-4{
    display: block;
}
#question:checked ~ .question-text,
#question-1:checked ~ .question-text,
#question-2:checked ~ .question-text,
#question-3:checked ~ .question-text,
#question-4:checked ~ .question-text{
    padding-bottom: 24px;
}
.question-text::after {
    content: "";
    background-image: url("../contact-page-2/icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    background-size: cover;
}
#question:checked ~ .question-text::after,
#question-1:checked ~ .question-text::after,
#question-2:checked ~ .question-text::after,
#question-3:checked ~ .question-text::after,
#question-4:checked ~ .question-text::after {
    content: "";
    background-image: url("../contact-page-2/icons/minus.svg");
}